<mat-sidenav-container>
    <mat-sidenav mode="over" [(opened)]="opened"><mat-icon>home</mat-icon>PICT MIS SYSTEM
        <mat-icon mat-button (click)="opened=!opened" aria-hidden="false" aria-label="Example home icon">close</mat-icon>
        <mat-list role="list">
            <mat-list-item role="listitem"><button color="primary" routerLink="/staff-form" mat-raised-button>Emplyee Form</button></mat-list-item>
            <mat-list-item role="listitem"><button color="primary" routerLink="/report" mat-raised-button>Report</button></mat-list-item>
            <mat-list-item role="listitem"><button color="primary" routerLink="/salary" mat-raised-button>salary</button></mat-list-item>
            <mat-list-item role="listitem"><button color="primary" routerLink="/experience" mat-raised-button>Experience</button></mat-list-item>
        </mat-list>
    </mat-sidenav>
    <mat-sidenav-content>
       
        
<nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="navbar-nav">
        <button color="accent" mat-button (click)="opened=!opened"><mat-icon>menu</mat-icon></button>
        <a class="nav-item nav-link" routerLink="/staff-home">Home</a>
        <a class="nav-item nav-link" (click)="logout()">Logout</a>
    </div>
  </nav>
  <div class="jumbotron">
<mat-card>
    <h3>Date:4/4/2019</h3>
    <br>
    <br>
<section>
    <h1>SALARY CERTIFICATE</h1>
    </section>
    <br>
    <br>
    <section >
        <h5>
        This is to certify that {{name}}___________ is working in this institute as {{Designation}}________________ in {{Department}}____________________ . His/Her salary for the month {{date}}__________ is as below:-
        </h5>
    </section>
    <section>
         
                <head> 
                    
                    <style> 
                        table, th, td { 
                            border: 1px solid black; 
                            border-collapse: collapse; 
                            padding: 6px; 
                        } 
                        body{
                            background: none;
                            color: black;
                        }
                    </style> 
                </head> 
                
                <body style = "text-align:center"> 
                   
                    <br>
                    <br>
                    <table> 
                    <tr> 
                        <th>Earnings</th> 
                        <th>Month 1</th>
                        <th>Month 2</th>
                        <th>Month 3</th>
                        <th>Deductions</th> 
                        <th>Month 1</th>
                        <th>Month 2</th>
                        <th>Month 3</th>
                    </tr> 
                    <tr> 
                        <td>BASIC PAY/PAY</td> 
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>P.F.</td>
                        <td></td>
                        <td></td>
                        <td></td> 
                    </tr> 
                    <tr> 
                        <td>D.P/AGP</td> 
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>PROFESSIONAL TAX</td>
                        <td></td>
                        <td></td>
                        <td></td> 
                    </tr> 
                    <tr> 
                        <td>D.A</td> 
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>INCOME TAX</td>
                        <td></td>
                        <td></td>
                        <td></td> 
                    </tr> 
                    <tr> 
                        <td>H.R.A</td> 
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>EVENUE STAMP</td>
                        <td></td>
                        <td></td>
                        <td></td> 
                    </tr> 
                    <tr> 
                        <td>C.C.A</td> 
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>OTHER DEDUCTIONS</td>
                        <td></td>
                        <td></td>
                        <td></td> 
                    </tr> 
                    <tr> 
                        <td>T.A</td> 
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>TOTAL DEDUCTIONS</td>
                        <td></td>
                        <td></td>
                        <td></td> 
                    </tr> 
                    <tr> 
                        <td><b>GROSS SALARY(Rs.)</b></td> 
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><b>NET SALARY(Rs.)</b></td>
                        <td></td>
                        <td></td>
                        <td></td> 
                    </tr> 
                    
                    <!-- The last row 
                    <tr> 
                        // This td will span two columns, that is 
                          //  a single column will take up the space of 2 
                        <td colspan="2">Sum: $18</td> 
                    </tr> -->
                    </table>
                    <br>
                    <br>
                    <p>
                        This certificate is issued on request of ____________________ without any financial obligation /liability on the part of institution ; netither this certificate should be treated as any commitment from the institution in whatsover matter.
                    </p> 
                  
                </body> 
           
    </section>
    <br>
    <br>
    <br>
    <br>
    <div align="right">
        <label>Principal</label>
    </div>
</mat-card>
<!--
<div align="right">
    <button mat-raised-button>Download as PDF</button>
</div>
-->
</div>
</mat-sidenav-content>
</mat-sidenav-container>
